python/.vscode/
*.pyc
*.tar
*.png
*.jpg
predictions/*/
datasets/*.csv
datasets/*/*.csv
weights/*.csv
weights/*.xls
weights/*.xlsx
logs/*/events.out.tfevents.*
logs/*/*/events.out.tfevents.*

logs_old/
weights/*.log
weights/*/*
predictions/*.xlsx
predictions/models_results.csv
predictions/results_by_model.csv
datasets/*/data.xlsx
predictions_old/*
weigths_old/*
predictions/results_by_model_ov.csv
predictions/results_by_model_fol.csv
python/compare_results_ov.py
python/compare_results_fol.py
